.background-1 {
    background: linear-gradient(black,purple 20px);
    position: relative;
    animation-name: background-move-1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

.background-2 {
    background: linear-gradient(black,purple 20px);
    position: relative;
    animation-name: background-move-2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

.background-3 {
    background: linear-gradient(black,purple 20px);
    position: relative;
    animation-name: background-move-3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

@keyframes background-move-1 {
    0% {top: 0%;}
    100% {top: 2%;}
}

@keyframes background-move-2 {
    0% {top: 2%;}
    100% {top: 4%;}
}

@keyframes background-move-3 {
    0% {top: 4%;}
    100% {top: 6%;}
}

.ooo {
    background: blue;
}